<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About FFmpeg</title>
</head>
<body>


<h4>Download</h4>
<a href="http://www.FFmpeg.org">FFmpeg Official Website</a>

<h4>编译arm64静态库的问题</h4>
<p>
    编译arm64静态库时，需要gas-preprocessor.pl 帮助编译。<br>
    可能会遇到“GNU assembler not found, install/update gas-preprocessor”<br>
    需要进入到文件夹 “/usr/local/bin”<br>
    将 <a href="https://github.com/libav/gas-preprocessor">gas-preprocessor.pl</a> 放入文件夹后<br>
    终端运行 chmod 777 /usr/local/bin/gas-preprocessor.pl
</p>

<hr>

<div>

    <h4>iOS依赖库</h4>
    <ul>
        <li>libbz2.tbd</li>
        <li>libz.tbd</li>
        <li>libiconv.tbd</li>
        <li>AudioToolbox.framework</li>
        <li>CoreGraphics.framework</li>
        <li>VideoToolbox.framework</li>
        <li>CoreMedia.framework</li>
    </ul>


</div>
<hr>
</body>
</html>