
<!DOCTYPE html>
<html>
    <head>
        　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        　<title>MyVeryFirstPage</title>
    </head>
    <body>
        
        　<h1>关于</h1>
        <form>
        test: <input type="month" name="test" /><input type="submit" />
        </form>
        
        
        <article>
            <h1>About iOS</1>
                
                <p contenteditable="true">Hello World!</p>
                
                <a href="www.baidu.com">Baidu</a>
                
                </article>
        
        <canvas id="myCanvas">your browser does not support the canvas tag </canvas>
        
        <script type="text/javascript">
            
            var canvas=document.getElementById('myCanvas');
            var ctx=canvas.getContext('2d');
            ctx.fillStyle='#FF0000';
            ctx.fillRect(0,0,80,100);
            
            </script>
        
        <details>
            <summary>Test Details</summary>
            <p>Detail</p>
        </details>
        
    </body>
</html>
